* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* IDE help */
  --navbar-background-color: black;
  --footer-background-color: black;
  --footer-color: black;
  --global-background-color: black;
  --global-secondary-background-color: black;
  --accent: black;
  --secondary-accent: black;
}

html,
body {
  --navbar-height: 3rem;
  --footer-height: 14rem;

  font-family: "Roboto", "Segoe UI", sans-serif;
  background-color: #000;
  scroll-behavior: smooth;
  scroll-padding-top: var(--navbar-height)
}

html,
body,
div#__next {
  height: 100%;
}
